.container{
    background-color: red;
    height: 40vh;
    width: 50vw;
}
.box{
    height: 4vh;
    width: 5vw;
    background-color: aqua;

    /* transtion ke 4 property hoti ha  */

    /* trasnition property ka matlab hota ha ka ap ko kis kis property pa transition lagani ha ab jasa ham na ism alikha ha ka transfrom to ya sirf transfrom per he laga ge background color pa nahi laga ge or ham Transfrom ke jaga all likh da to is ka matlab ha ka jitne bhe is ka ander property lage we ha un sab pa transition apply hoon  */
    
    /* transition-property: trasnfrom; */

    /* transition duration ka matlab ha ka animation yani transtion kitne dar tak chalni cahiya is ma likha ha 3 s yani transition 3sec tak chal ne cahiya  */

    /* transition-duration: 3s; */

    /* transition timing function ka matlab ha ka ap ke transition kis function ma chalni cahiya  */

    /* transition-timing-function: ease-in; */

    /* transition delay ka matlab ha ka ap ke transition kitna sec bad start honi cahiya   */

    /* transition-delay: 1s; */

    /* ya un sab ke short hand property ha  */

    transition: all 3s ease-in 1s;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
    background-color: green;

}